<template>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <app-breadcrumb :page-title="$t('novel')" :directory="$t('datatables')" :icon="'grid'"/>
            </div>
            <div class="col-sm-12 col-md-6 breadcrumb-side-button">
                <div class="float-md-right mb-3 mb-sm-3 mb-md-0">
                    <button type="button"
                            class="btn btn-primary btn-with-shadow"
                            data-toggle="modal"
                            @click="openAddEditModal">
                        {{ $t('add') }}
                    </button>
                </div>
            </div>
        </div>

        <app-table :id="tableId" :responsive="true" :options="options" @action="getListAction"/>

        <novel-add-modal v-if="isAddEditModalActive"
                       :table-id="tableId"
                       :selected-url="selectedUrl"
                       :genre-url="genreUrl"
                       @close-modal="closeAddEditModal"/>

        <chapter-add-modal v-if="isAddChapterModalActive"
                       :table-id="tableId"
                       :selected-url="selectedUrl"
                       :row-id="rowId"
                       @close-modal="closeAddChapterModal"/>

        <dashboard-delete-modal v-if="deleteConfirmationModalActive"
                                :preloader="deleteLoader"
                                modal-id="demo-delete"
                                @confirmed="confirmed"
                                @cancelled="cancelled"/>
    </div>
</template>

<script>
    import CoreLibrary from "../../../../../core/helpers/CoreLibrary.js";
    import * as actions from "../../../../config/ApiUrl";
    import {TableHelpers} from './mixins/TableHelpers';

    export default {
        extends: CoreLibrary,
        name: "index",
        mixins : [TableHelpers],
        data() {
            return {
                isAddEditModalActive: false,
                isAddChapterModalActive: false,
                deleteConfirmationModalActive: false,
                deleteLoader: false,
                selectedUrl: '',
                rowId: '',
                genreUrl: `${actions.GENRE_DATA}?pagination=0`,
                tableId: 'advance-table',
                rowData: {},
                options: {
                    name: 'AdvanceTable',
                    url: actions.NOVEL_DATA,
                    showHeader: true,
                    columns: [],
                    actions: [
                        {
                            title: this.$t('edit'),
                            icon: 'edit',
                            type: 'none',
                            component: 'novel-add-modal',
                            modalId: 'demo-add-edit-modal',
                        },
                        {
                            title: this.$t('add_chapter'),
                            icon: 'copy',
                            type: 'none',
                            component: 'chapter-add-modal',
                            modalId: 'demo-add-chapter-modal',
                        },
                        {
                            title: this.$t('view_chapters'),
                            icon: 'file',
                            type: 'none'
                        },
                        {
                            title: this.$t('delete'),
                            icon: 'trash',
                            type: 'none',
                            component: 'genre-delete-modal',
                            modalId: 'demo-delete',
                        }
                    ],
                    filters: [
                        {
                            "title": this.$t('state'),
                            "type": "radio",
                            "key": "state",
                            "option": [
                                {id: 'ongoing', value: 'Ongoing'},
                                {id: 'completed', value: 'Completed'},
                            ],

                            "header": {
                                "title": this.$t('want_to_filter_your_list'),
                                "description": this.$t('you_can_filter_your_data_table_which_are_created_based_on_state'),
                            },
                        },
                        {
                            "title": this.$t('published'),
                            "type": "radio",
                            "key": "published",
                            "option": [
                                {id: 'yes', value: 'Yes'},
                                {id: 'no', value: 'no'},
                            ],

                            "header": {
                                "title": this.$t('want_to_filter_your_list'),
                                "description": this.$t('you_can_filter_your_data_table_which_are_created_based_on_publish'),
                            },
                        }
                    ],
                    showFilter: true,
                    showSearch: true,
                    paginationType: "pagination",
                    responsive: true,
                    rowLimit: 10,
                    showAction: true,
                    orderBy: 'desc',
                    actionType: "default",
                },
            }
        },
        created(){
            this.options.columns = [...this.tableColumns, this.actionObj];
        },
        methods: {
            /**
             * for open add edit modal
             */
            openAddEditModal() {
                this.isAddEditModalActive = true;
            },

            /**
             * for close add edit modal
             */
            closeAddEditModal() {
                $("#demo-add-edit-modal").modal('hide');
                this.isAddEditModalActive = false;
                // this.searchAndSelectFilterOptions();
                this.reSetData();
            },
            /**
             * for open add edit modal
             */
            openAddChapterModal() {
                this.isAddChapterModalActive = true;
            },

            /**
             * for close add edit modal
             */
            closeAddChapterModal() {
                $("#demo-add-chapter-modal").modal('hide');
                this.isAddChapterModalActive = false;
                // this.searchAndSelectFilterOptions();
                this.reSetData();
            },

            /**
             * $emit form datatable action
             */
            getListAction(rowData, actionObj, active) {
                this.rowData = rowData;

                if (actionObj.title == 'Delete') {

                    this.openDeleteModal();
                } else if (actionObj.title == this.$t('edit')) {

                    this.selectedUrl = `${actions.NOVEL_DATA}/${rowData.id}`;
                    this.openAddEditModal();
                } else if (actionObj.title == this.$t('add_chapter')) {
                    this.rowId = rowData.id;
                    // this.selectedUrl = `${actions.NOVEL_DATA}/${rowData.id}`;
                    this.openAddChapterModal();
                } else if (actionObj.title == this.$t('view_chapters')) {
                    this.rowId = rowData.id;
                    if ('URLSearchParams' in window) {
                        const searchParams = new URLSearchParams(window.location.search)
                        searchParams.set("novel_id", this.rowId);
                        const newRelativePathQuery = '/novelchapter' + '?' + searchParams.toString();
                        window.location = newRelativePathQuery;
                    }
                }
            },

            /**
             * for open confirmation modal
             */
            openDeleteModal() {
                this.deleteConfirmationModalActive = true;
            },

            /**
             * confirmed $emit form confirmation modal
             */
            confirmed() {
                let url = `${actions.NOVEL_DATA}/${this.rowData.id}`;
                this.deleteLoader=true;
                this.axiosDelete(url)
                    .then(response => {
                        this.deleteLoader= false;
                        $("#demo-delete").modal('hide');
                        this.cancelled();
                        this.$toastr.s(response.data.message);
                        // this.searchAndSelectFilterOptions();
                    }).catch(({error}) => {

                    //trigger after error
                }).finally(() => {
                    this.$hub.$emit('reload-' + this.tableId);
                });
            },

            /**
             * cancelled $emit form confirmation modal
             */
            cancelled() {
                this.deleteConfirmationModalActive = false;
                this.reSetData();
            },

            reSetData() {
                this.rowData = {};
                this.selectedUrl = '';
            },

            /* searchAndSelectFilterOptions(){
                this.axiosGet(actions.DATATABLE_SEARCH_SELECT).then(response => {

                    let name = this.options.filters.find(element => element.title === this.$t('search_and_select'));
                    name.option = response.data.map(name => {
                        return {
                            id:name.name,
                            value:name.name
                        }
                    });
                });
            } */
        },
    }
</script>
