<template>
    <dashboard-modal :modal-id="modalId"
                     :title="modalTitle"
                     :preloader="preloader"
                     @submit="submit"
                     @close-modal="closeModal">
        <template slot="body">
            <app-overlay-loader v-if="preloader"/>
            <form class="mb-0"
                  :class="{'loading-opacity': preloader}"
                  ref="form" :data-url='selectedUrl ? `${selectedUrl}` : `novel-data`'>
                <div class="form-group row align-items-center">
                    <label for="inputs_title" class="col-sm-3 mb-0">
                        {{ $t('title') }}
                    </label>
                    <app-input id="inputs_title"
                               class="col-sm-9"
                               type="text"
                               v-model="inputs.title"
                               :placeholder="$t('text_type_input')"
                               :required="true"/>

                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_synopsis" class="col-sm-3 mb-0">
                        {{ $t('synopsis') }}
                    </label>
                    <app-input id="inputs_synopsis"
                               class="col-sm-9"
                               type="textarea"
                               v-model="inputs.synopsis"
                               :required="true"
                               :placeholder="$t('text_type_input')"/>
                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_state" class="col-sm-3 mb-0">
                        {{ $t('state') }}
                    </label>
                    <app-input id="inputs_state"
                               class="col-sm-9"
                               type="radio"
                               v-model="inputs.state"
                               :required="true"
                               :list="stateLists"/>
                </div>
                <div class="form-group row align-items-center">
                    <label class="col-sm-3 mb-0">
                        {{ $t('published') }}
                    </label>
                    <app-input class="col-sm-9"
                               type="radio"
                               v-model="inputs.published"
                               :required="true"
                               :list="publishedLists"/>
                </div>
                <div v-if="genreLists.length" class="form-group row align-items-center">
                    <label class="col-sm-3 mb-0">
                        {{ $t('Genre') }}
                    </label>
                    <app-input class="col-sm-9"
                               type="checkbox"
                               v-model="inputs.genre"
                               :required="true"
                               :list="genreLists"/>
                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_watch_count" class="col-sm-3 mb-0">
                        {{ $t('watch_count') }}
                    </label>
                    <app-input id="inputs_watch_count"
                               class="col-sm-9"
                               type="number"
                               :min-number="0"
                               :required="true"
                               v-model="inputs.watch_count"
                               :placeholder="$t('number_type_input')"/>
                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_keyword" class="col-sm-3 mb-0">
                        {{ $t('keyword') }}
                    </label>
                    <app-input id="inputs_keyword"
                               class="col-sm-9"
                               type="text"
                               v-model="inputs.keyword"
                               :placeholder="$t('text_type_input')"
                               :required="true"/>
                </div>
            </form>
        </template>
    </dashboard-modal>
</template>

<script>
    import {FormMixin} from '../../../../../core/mixins/form/FormMixin.js';
    import {ModalMixin} from "../../../../../app/Mixins/ModalMixin";
    import {FormHelpers} from "./mixins/FormHelpers";

    export default {
        name: "novel-add-modal",
        mixins: [FormMixin, ModalMixin, FormHelpers],
        props: {
            tableId: String
        },
        data() {
            return {
                preloader: false,
                inputs: {},
                genreLists: [],
                stateLists: [
                    {id: 'ongoing', value: "Ongoing",},
                    {id: 'completed', value: "Completed",},
                ],
                publishedLists: [
                    {id: 'yes', value: "Yes"},
                    {id: 'no', value: "No"},
                ],
                modalId: 'demo-add-edit-modal',
                modalTitle: this.$t('add'),
            }
        },
        created() {
            if (this.selectedUrl || this.genreUrl) {
                this.modalTitle = this.$t('edit');
                this.preloader = true;
            }
        },
        methods: {
            submit() {
                this.save(this.inputs);
            },
            afterSuccess(response) {
                this.$toastr.s(response.data.message);
                this.$hub.$emit('reload-' + this.tableId);
            },

            afterSuccessFromGetEditData(response) {
                this.inputs = response.data;

                if (response.data.novel_genres && response.data.novel_genres.length)
                    this.inputs.genre = response.data.novel_genres.map(({ id }) => id);


                this.preloader = false;
            },

            afterSuccessFromGetGenreData(response) {
                this.genreLists = response.data.map(genre => ({
                    id: genre.id,
                    value: genre.name
                }));
                this.preloader = false;
            }
        },
    }
</script>
