<template>
    <dashboard-modal :modal-id="modalId"
                     :title="modalTitle"
                     :preloader="preloader"
                     @submit="submit"
                     @close-modal="closeModal">
        <template slot="body">
            <app-overlay-loader v-if="preloader"/>
            <form class="mb-0"
                  :class="{'loading-opacity': preloader}"
                  ref="form" :data-url='selectedUrl ? selectedUrl : `novelchapter-data/create/${rowId}`'>
                <div class="form-group row align-items-center">
                    <label for="inputs_title" class="col-sm-3 mb-0">
                        {{ $t('title') }}
                    </label>
                    <app-input id="inputs_title"
                               class="col-sm-9"
                               type="text"
                               v-model="inputs.title"
                               :placeholder="$t('text_type_input')"
                               :required="true"/>

                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_text" class="col-sm-3 mb-0">
                        {{ $t('text') }}
                    </label>
                    <app-input id="inputs_text"
                               class="col-sm-9"
                               type="textarea"
                               v-model="inputs.text"
                               :required="true"
                               :placeholder="$t('text_type_input')"/>
                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_order" class="col-sm-3 mb-0">
                        {{ $t('order') }}
                    </label>
                    <app-input id="inputs_order"
                               class="col-sm-9"
                               type="number"
                               v-model="inputs.order"
                               :required="true"/>
                </div>
                <div class="form-group row align-items-center">
                    <label class="col-sm-3 mb-0">
                        {{ $t('locked') }}
                    </label>
                    <app-input class="col-sm-9"
                               type="radio"
                               v-model="inputs.locked"
                               :required="true"
                               :list="lockedLists"/>
                </div>
                <div class="form-group row align-items-center">
                    <label class="col-sm-3 mb-0">
                        {{ $t('watch_count') }}
                    </label>
                    <app-input class="col-sm-9"
                               type="number"
                               v-model="inputs.watch_count"
                               :required="true"/>
                </div>
            </form>
        </template>
    </dashboard-modal>
</template>

<script>
    import {FormMixin} from '../../../../../core/mixins/form/FormMixin.js';
    import {ModalMixin} from "../../../../../app/Mixins/ModalMixin";
    // import {FormHelpers} from "./mixins/FormHelpers";

    export default {
        name: "chapter-add-modal",
        mixins: [FormMixin, ModalMixin/* , FormHelpers */],
        props: {
            tableId: String,
            rowId: Number
        },
        data() {
            return {
                preloader: false,
                inputs: {},
                lockedLists: [
                    {id: 'yes', value: "Yes"},
                    {id: 'no', value: "No"},
                ],
                modalId: 'demo-add-chapter-modal',
                modalTitle: this.$t('add'),
            }
        },
        created() {
            if (this.selectedUrl || this.genreUrl) {
                this.modalTitle = this.$t('edit');
                this.preloader = true;
            }
        },
        methods: {
            submit() {
                this.save(this.inputs);
            },
            afterSuccess(response) {
                this.$toastr.s(response.data.message);
                this.$hub.$emit('reload-' + this.tableId);
            },

            afterSuccessFromGetEditData(response) {
                this.inputs = response.data;

                if (response.data.novel_genres && response.data.novel_genres.length)
                    this.inputs.genre = response.data.novel_genres.map(({ id }) => id);


                this.preloader = false;
            },

            afterSuccessFromGetGenreData(response) {
                this.genreLists = response.data.map(genre => ({
                    id: genre.id,
                    value: genre.name
                }));
                this.preloader = false;
            }
        },
    }
</script>
