<template>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <app-breadcrumb :page-title="$t('novel_chapters')" :directory="$t('datatables')" :icon="'grid'"/>
            </div>
            <div class="col-sm-12 col-md-6 breadcrumb-side-button">
                <div class="float-md-right mb-3 mb-sm-3 mb-md-0">
                    <a href="/novel"
                            class="btn btn-primary btn-with-shadow">
                        {{ $t('add') }}
                    </a>
                </div>
            </div>
        </div>

        <app-table :id="tableId" :filtered-data="filteredData" :options="options" @action="getListAction"/>

        <chapter-add-modal v-if="isAddEditModalActive"
                       :table-id="tableId"
                       :selected-url="selectedUrl"
                       @close-modal="closeAddEditModal"/>

        <dashboard-delete-modal v-if="deleteConfirmationModalActive"
                                :preloader="deleteLoader"
                                modal-id="demo-delete"
                                @confirmed="confirmed"
                                @cancelled="cancelled"/>
    </div>
</template>

<script>
    import CoreLibrary from "../../../../../core/helpers/CoreLibrary.js";
    import * as actions from "../../../../config/ApiUrl";
    import {TableHelpers} from './mixins/TableHelpers';

    export default {
        extends: CoreLibrary,
        name: "novel-chapter-view",
        mixins : [TableHelpers],
        data() {
            return {
                isAddEditModalActive: false,
                deleteConfirmationModalActive: false,
                deleteLoader: false,
                selectedUrl: '',
                tableId: 'advance-table',
                rowData: {},
                filteredData: {},
                options: {
                    name: 'AdvanceTable',
                    url: actions.NOVEL_CHAPTER,
                    showHeader: true,
                    columns: [],
                    datatableWrapper: false,
                    actions: [
                        {
                            title: this.$t('edit'),
                            icon: 'edit',
                            type: 'none',
                            component: 'chapter-add-modal',
                            modalId: 'demo-add-edit-modal',

                        },
                        {
                            title: this.$t('delete'),
                            icon: 'trash',
                            type: 'none',
                            component: 'genre-delete-modal',
                            modalId: 'demo-delete',
                        }
                    ],
                    filters: [],
                    showFilter: true,
                    showSearch: true,
                    paginationType: "pagination",
                    responsive: true,
                    rowLimit: 10,
                    showAction: true,
                    orderBy: 'desc',
                    actionType: "default",
                },
            }
        },
        created(){
            const searchParams = new URLSearchParams(window.location.search)
            if (searchParams.get("novel_id")) {
                this.filteredData.novel_id = searchParams.get("novel_id");
                this.options.datatableWrapper = false;
            } else {
                this.options.datatableWrapper = true;
            }
            this.options.columns = [...this.tableColumns, this.actionObj];
        },
        methods: {
            /**
             * for open add edit modal
             */
            openAddEditModal() {
                this.isAddEditModalActive = true;
            },

            /**
             * for close add edit modal
             */
            closeAddEditModal() {
                $("#demo-add-edit-modal").modal('hide');
                this.isAddEditModalActive = false;
                // this.searchAndSelectFilterOptions();
                this.reSetData();
            },

            /**
             * $emit form datatable action
             */
            getListAction(rowData, actionObj, active) {
                this.rowData = rowData;

                if (actionObj.title == 'Delete') {

                    this.openDeleteModal();
                } else if (actionObj.title == this.$t('edit')) {

                    this.selectedUrl = `${actions.NOVEL_CHAPTER}/${rowData.id}`;
                    this.openAddEditModal();
                }
            },

            /**
             * for open confirmation modal
             */
            openDeleteModal() {
                this.deleteConfirmationModalActive = true;
            },

            /**
             * confirmed $emit form confirmation modal
             */
            confirmed() {
                let url = `${actions.NOVEL_CHAPTER}/${this.rowData.id}`;
                this.deleteLoader=true;
                this.axiosDelete(url)
                    .then(response => {
                        this.deleteLoader= false;
                        $("#demo-delete").modal('hide');
                        this.cancelled();
                        this.$toastr.s(response.data.message);
                        // this.searchAndSelectFilterOptions();
                    }).catch(({error}) => {

                    //trigger after error
                }).finally(() => {
                    this.$hub.$emit('reload-' + this.tableId);
                });
            },

            /**
             * cancelled $emit form confirmation modal
             */
            cancelled() {
                this.deleteConfirmationModalActive = false;
                this.reSetData();
            },

            reSetData() {
                this.rowData = {};
                this.selectedUrl = '';
            },

            /* searchAndSelectFilterOptions(){
                this.axiosGet(actions.DATATABLE_SEARCH_SELECT).then(response => {

                    let name = this.options.filters.find(element => element.title === this.$t('search_and_select'));
                    name.option = response.data.map(name => {
                        return {
                            id:name.name,
                            value:name.name
                        }
                    });
                });
            } */
        },
    }
</script>
