@import "variables";
// Full calendar
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.calendar-view {

  .fc-event {

    background-color: #a3b4f9 !important;
    padding: 5px !important;
    border-radius: 5px !important;
    color: $white !important;
    border: none !important;
    font-weight: inherit;
    box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, .2) !important;

    //position: relative;
    //&:after {
    //    content: '';
    //    position: absolute;
    //    height: 10px;
    //    width: 10px;
    //    border: 1.5px solid #919191;
    //    border-radius: 50%;
    //    right: 5px;
    //    top: 5px;
    //}

  }

  .fc-button-group {
    border-radius: 0.3rem !important;
    background: var(--btn-filter-bg) !important;

    .fc-button {
      border: 1px solid var(--default-border-color) !important;
      background: var(--btn-filter-bg) !important;
      color: #919191 !important;
      text-transform: capitalize !important;
      box-shadow: none !important;


      &:hover {
        color: $brand-color !important;
      }

      &.fc-button-active {
        box-shadow: none !important;
        border-radius: 0.3rem;
        background-color: $brand-color !important;
        border: 1px solid $brand-color !important;
        color: $white !important;
      }
    }
  }

  .fc-today-button {
    border: 1px solid var(--default-border-color) !important;
    text-transform: capitalize !important;
    background: var(--btn-filter-bg) !important;
    color: #919191 !important;
    border-radius: 0.3rem !important;

    &:focus {
      box-shadow: none !important;
    }
  }

  .fc-prev-button, .fc-next-button {
    &.fc-button {
      box-shadow: none !important;
      border: none !important;
      border-radius: 0 !important;

      &:hover {
        color: $brand-color !important;
      }
    }
  }

  .fc-timeGrid-view {
    .fc-day-grid, .fc-divider {
      display: none !important;
    }

    .fc-widget-content {
      cursor: pointer !important;
      border: 1px solid var(--default-border-color) !important;
      border-bottom: none !important;
      height: 30px !important;
    }

    .fc-minor {
      .fc-widget-content {
        border-top: .5px dotted var(--default-border-color) !important;
      }
    }
  }

  .fc-today {
    background: none !important;
  }

  .fc-timeGridWeek-view {
    .fc-day-header.fc-today {
      span {
        display: flex;
        flex-direction: column;
        align-items: center;

        .fc-calendar-day-name {
          padding-top: 6px;
          height: 30px;
          width: 35px;
          border-radius: 50% !important;
          background: $brand-color !important;
          color: $white !important;
        }
      }

    }
  }

  .fc-timeGridWeek-view {
    .fc-day-header {
      span {
        display: flex;
        flex-direction: column;
        align-items: center;

        .fc-calendar-day-name {
          padding-top: 6px;
          height: 30px;
          width: 35px;
        }
      }
    }
  }

  .fc-dayGridMonth-view {
    .fc-widget-content {
      border: 1px solid var(--default-border-color) !important;
      border-bottom: none !important;
    }
    .fc-day{

    }
    .fc-today {
      background: $brand-color !important;
      &.fc-day-top{
        background: none !important;
      }
    }
  }
  .fc-head-container{
    border: 1px solid var(--default-border-color) !important;
  }

  .fc-widget-header {
    border-right: 1px solid var(--default-border-color) !important;
    min-height: 40px !important;
    span {
      color: #919191 !important;
      font-size: 16px !important;
      font-weight: normal !important;
    }
  }

  .fc-axis {
    border-left: none !important;
    &.fc-week-number {
      span {
        font-size: 16px !important;
      }
    }

    padding-left: 10px !important;
    padding-right: 10px !important;

    span {
      color: #919191 !important;
      font-size: 13px !important;
      font-weight: normal !important;
    }
  }

  .fc-day-header {
    padding: 10px 5px !important;
  }

  .fc-header-toolbar {
    h2 {
      color: #919191 !important;
      font-size: 20px !important;
    }
  }

  .fc-scroller {
    &::-webkit-scrollbar {
      width: $default-scrollbar-width !important;
    }

    &::-webkit-scrollbar-track {
      //background: var(--scrollbar-thumb-color) !important;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-color) !important;
      border-radius: 5px !important;

      &:hover {
        background-color: var(--scrollbar-thumb-hover-color) !important;
      }
    }

  }
}
