<template>
    <dashboard-modal :modal-id="modalId"
                     :title="modalTitle"
                     :preloader="preloader"
                     @submit="submit"
                     @close-modal="closeModal">
        <template slot="body">
            <app-overlay-loader v-if="preloader"/>
            <form class="mb-0"
                  :class="{'loading-opacity': preloader}"
                  ref="form" :data-url='selectedUrl ? selectedUrl : `gifts-data/create`'>
                <div class="form-group row align-items-center">
                    <label for="inputs_title" class="col-sm-3 mb-0">
                        {{ $t('title') }}
                    </label>
                    <app-input id="inputs_title"
                               class="col-sm-9"
                               type="text"
                               v-model="inputs.title"
                               :placeholder="$t('text_type_input')"
                               :required="true"/>

                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_price" class="col-sm-3 mb-0">
                        {{ $t('price') }}
                    </label>
                    <app-input id="inputs_price"
                               class="col-sm-9"
                               type="number"
                               v-model="inputs.price"
                               :placeholder="$t('number_type_input')"
                               :required="true"/>

                </div>
                <div class="form-group row align-items-center">
                    <label for="inputs_img" class="col-sm-3 mb-0">
                        {{ $t('img') }}
                    </label>
                    <app-input id="inputs_img"
                               class="col-sm-9"
                               type="custom-file-upload"
                               v-model="inputs.img"
                               :generate-file-url="false"
                               :required="true"
                               :label="$t('change')"/>

                </div>
            </form>
        </template>
    </dashboard-modal>
</template>

<script>
    import {FormMixin} from '../../../../../core/mixins/form/FormMixin.js';
    import {ModalMixin} from "../../../../../app/Mixins/ModalMixin";

    export default {
        name: "gift-add-model",
        mixins: [FormMixin, ModalMixin],
        props: {
            tableId: String
        },
        data() {
            return {
                preloader: false,
                inputs: {},
                modalId: 'demo-add-edit-modal',
                modalTitle: this.$t('add'),
            }
        },
        created() {
            if (this.selectedUrl) {
                this.modalTitle = this.$t('edit');
                this.preloader = true;
            }
        },
        methods: {
            submit() {
                let formData = new FormData();
                formData.append('title', this.inputs.title);
                formData.append('price', this.inputs.price);
                formData.append('img', this.inputs.img);
                this.save(formData);
            },
            afterSuccess(response) {
                this.$toastr.s(response.data.message);
                this.$hub.$emit('reload-' + this.tableId);
            },

            afterSuccessFromGetEditData(response) {
                this.inputs = response.data;
                this.preloader = false;
            },
        },
    }
</script>
